*  {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #143C3C;
    --text-color-light-gray: #7D8188;
    --primary-color-black: #152427;
    --scondery-color-light-green: #E2EDDF;
    --primary-color-black-green: #143C3C;
    --text-color-black-gray: #575D5E;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}
/* ===== Common ===== */
.decoration-top__like-sun {
    position: absolute;
    top: 2px;
    left: -46px;
}
.decoration-bottom__like-sun {
    position: absolute;
    right: -46px;
    bottom: 23px;
}
.decoration {
    position: absolute;
}
button {
    border: none;
    outline: none;
    background-color: unset;

}
a {
    text-decoration: none;
}
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.heading {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    color: var(--primary-color-black);
}
.heading-extra {
    color: var(--primary-color-black);
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2; 
}
.desc {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.625;
}
.btn {
    display: inline-block   ;
    border-radius: 999px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    --height: 57px;
    height: var(--height);
    line-height: var(--height);
    background-color: var(--primary-color-black-green);
    min-width: 173px;
    color: #fff;
    transition: 0.2s;
    border: 1px solid var(--primary-color-black-green);
}
.btn:hover {
    color: var(--primary-color-black-green);
    background-color: #fff;
}
/* =========== Header =========== */
.header {
    font-family: 'Public Sans', sans-serif;
    position: sticky;
    padding-top: 28px;
    top: -15px;
    z-index: 2;
}
.header__row {
    display: flex;
    margin-bottom: 13px;
    align-items: center;
}
.header__logo {
    margin-right: auto;
}
/* ===== Navigation ===== */
.navbar__list {
    display: flex;
}
.navbar__link {
    padding: 16px 19px;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.556; 
    transition: 0.2s;
}
.navbar__link--active, .navbar__link:hover {
    color: var(--primary-color-black);
    position: relative;
}
.navbar__link--active::after {
    content: "";
    display: block;
    position: absolute;
    left: 19px;
    bottom: -16px;
    width: 16px;
    height: 2px;
    background-color: var(--primary-color-black-green);
}
.sign-up-btn {
    margin-left: 69px;
}
.header__line {
    width: 1140px;
    height: 1px;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);;
}

/* ========== Hero ========== */
.hero {
    padding-top: 60px;
    font-family: 'Public Sans', sans-serif;
}
.hero__row {
    display: flex;
    align-items: center;
}
/* ===== Info Block ===== */
.hero__heading {
    width: 368px;
}
.hero__desc {
    margin-top: 20px;
    width: 342px;
}
/* Call To Action */
.hero__cta {
    margin-top: 42px;
    display: flex;
    align-items: center;
    gap: 36px;
}
.hero__play-video {
    color: var(--primary-color-black);
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67; 
}
.hero__circle-border {
    padding: 3px;
    border: 4px solid var(--primary-color-black-green);
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-45deg);
    transition: 0.5s;
}
.hero__circle-play-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #fff;
    transform: rotate(45deg);
    background-color: #83a17d;
}   
.hero__play-video:hover {
    color: #83a17d;
}
.hero__play-video:hover .hero__circle-border {
    transform: rotate(45deg);
    border-color:  #83a17d;
}
.hero__play-video:hover .hero__circle-play-video {
    transform: rotate(-45deg);
    background-color: var(--primary-color-black-green);
}

/* ===== Media Block ===== */
.hero__media-block {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: 25px;
    column-gap: 20px;
}
.hero__decoration-top {
    top: -32px;
    left: -165px;
}
.hero__decoration-bottom {
    z-index: 3;
    left: 30px;
    bottom: -145px;
}
.hero__image {
    display: block;
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}
.hero__media-background {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 340px;
    background: #4DBB9A;
    filter: blur(137px);
    width: 340px;
    height: 340px;
    z-index: -1;
}
.hero__image--middle {
    position: relative;
    top: 77px;
    z-index: 2;
}

/* ========== Brand ========== */
.brand {
   margin-top: 240px;
}
.brands__list {
    display: flex;
    padding: 0 100px;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    border-radius: 999px;
    background-color: var(--scondery-color-light-green);
}
.brand__link {
    display: flex;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
    border-radius: 8px;
}
.brand__link:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}
.brand__link--text {
    gap: 11px;
}
.brand__link--text .brand__logo-agworld {
    color: #163C35;
    font-size: 2.6rem;
}
.brand__link--text .brand__logo-heroku {
    color: var(--primary-color-black-green, #143C3C);
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}